@{
    ViewData["Title"] = "Vytvoření nové publikace";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <p>
            <a class="btn btn-default" asp-controller="Books" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Přidat knihu</a>
        </p>
        <p>
            <a class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Přidat článek</a>
        </p>
    </div>
</div>